.simple_form
{
 margin: 1em auto;
 width: 700px;
 background: #cdcdcc;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -khtml-border-radius: 10px;
 padding: 1em;
 clear: both;
}

.simple_form .input
{
  padding-top: .3em;
}

.simple_form .string input,
.simple_form .password input
{
  font-size: 25px;
  width: 300px;
}

.simple_form .input label
{
  width: 200px;
  display: block;
  float: left;
}

.simple_form .field_with_errors input
{
  border: 1px solid red;
}

.simple_form .error
{
  color: #c00;
}
